@tailwind base;
@tailwind components;
@tailwind utilities;

.sg-task {
  cursor: pointer;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.sg-task.pink {
    background-color: #e93997;
}

.sg-task.pink:hover {
    background-color: #982a73;
}