@tailwind base;
@tailwind components;
@tailwind utilities;

.sg-task {
  cursor: pointer;
}

.sg-table {
  position: fixed;
  height: 800px;
  z-index: 900;
}

.sg-timeline {
  margin-left: 250px !important;
}